@media screen and (max-width: 768px) {
    .left-content, .right-content {
        margin-left: 20px;
        margin-top: 20px;
    }
}

.home-container {
    background: linear-gradient(to right, #2F61EB, lightblue);
    min-height: 200vh;
    padding: 20px;
    font-family: 'PT Serif', serif;
}
.left-content{
    margin-left: 120px;
    margin-top: 300px;
}

.right-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 600px;
    margin-top: -300px;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.main-title {
    font-size: 3rem;
    color: whitesmoke;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.description {

    font-size: 1.5rem;
}

.profile-pic {
    width: 100%;
    height: auto;
    max-width: 330px;
    max-height: 330px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
}


.btn {
    margin: 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.1rem;
}


.right-content {
    text-align: center;
}

.btn-primary {
    background-color: #37F57E !important;
    border-color: #37F57E !important;
}

.btn-primary:hover {
    background-color: #5eab54 !important;
    border-color: #5eab54 !important
}

.btn-secondary {
    background-color: #DBCDF5 !important;
    border-color: #DBCDF5 !important;
}

.btn-secondary:hover {
    background-color: #A5BCE2 !important;
    border-color: #A5BCE2 !important;
}

.btn-primary,
.btn-secondary {
    color:#000000  !important;
}


.footer-content {
    text-align: center;
    margin-top: 100px; /* Adjust as needed */
    color: #FFFFFF; /* Or any color that fits your design */
}

.personal-info {
    font-size: 1.1rem; /* Adjust size as needed */
    color: black;

}

.roboto-condensed{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
}

.roboto-light{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
}


.spacer {
    height: 35vh; /* 100% of the viewport height */
}

.about-me-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    background-color: #f0f0f0;

}

.about-me-content {
    flex-basis: 33.333%; /* Take up the left third */
    padding-right: 20px; /* Add some spacing between the text and photos */
}

.personal-photos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */
    gap: 5px;
}


.personal-photo1 {
    max-width: 250px;
    max-height: 200px;/* Adjust based on your preference */
    height: auto;
}


.personal-photo2 {
    max-width: 300px;
    max-height: 200px;/* Adjust based on your preference */
}

.personal-photo3 {
    max-width: 300px;
    max-height: 200px;
}

.personal-photo4 {
    max-width: 300px;
    max-height: 250px;
}

.personal-photo5 {
    max-width: 300px;
    max-height: 250px;
}


.personal-photo6 {
    max-width: 300px;
    max-height: 230px;
}

.personal-photo1, .personal-photo2, .personal-photo3, .personal-photo4, .personal-photo5, .personal-photo6 {
    max-width: 100%; /* Ensures the image is responsive and does not overflow its container */
    border-radius: 10px;
}

.technologies-container {
    padding: 20px 0; /* Adds padding above and below the container */
    margin-top: 20px; /* Ensures some space between this and the photo container above */
    background-color: #f0f0f0;
}

.technologies-container h3 {
    color: #2F61EB; /* Adjust the color to match your design */
    font-size: 1.5rem; /* Adjust the size as needed */
    margin-bottom: 10px; /* Adds some space between the title and the list */
}

.technology-list li {
    font-size: 1.1rem; /* Adjust the size as needed */
    color: #000; /* Adjust the color as needed */
    padding: 5px 0; /* Adds some vertical padding for each list item */
}

.github-icon{
   color: black;
    margin-left: 1300px;
}